


.post-header {
	.post-title {
		color: #ff9411;
  		font-family: 'Roboto', sans-serif !important;
  		font-size: 1.8rem;
	}
}

.post-list-heading {
	    font-size: 1.8rem;
		font-family: 'Roboto', sans-serif !important;
}

.post-list {
	li {
		h3 {
			color: #ff9411;
			font-family: 'Roboto', sans-serif !important;
			a {
				color: #ff9411;
			}
		}
	}
}

// page styling
.post-content {

}

.portfolio-grid {
	main.page-content {
		.wrapper {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

// portfolio page styling23
.portfolio-content {
	img {
		border: 1px solid #e8e8e8;
	}
}

.portfolio-thumb {
    //border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin: 1%;
    min-height: 150px;
    width: 30%;
    float: left;
    position: relative;
    .portfolio-thumb-link {
    	position: absolute;
	    width: 100%;
	    line-height: 20px;
	    overflow: hidden;
	    a {
	    	img {
	    		border-radius: 5px;
	    	}
	    }
	}
}
