


.post-header {
	.post-title {
		color: #ff9411;
  		font-family: 'Roboto Slab', serif !important;
	}
}

.post-list-heading {
		font-family: 'Roboto Slab', serif !important;
}

.post-list {
	li {
		h3 {
			color: #ff9411;
			font-family: 'Roboto Slab', serif !important;
			a {
				color: #ff9411;
			}
		}
	}
}