
h1, h2, h3, h4 ,h5, h6, .post-title {
	color: #ff9411;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
}

a, p, pre, code {
	color: #000000;
	font-family: 'Roboto Mono', monospace !important;
	font-size: .8rem;
}
p.post-meta {
	color: #CECDCB;
	font-family: 'Roboto Mono', monospace !important;
}