
// typography styles

h1, h2, h3, h4 ,h5, h6, .post-title {
	color: #ff9411;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
}

a {
	color: #1756a9;
	font-family: 'Roboto Mono', monospace !important;
	font-size: .8rem;
}

a.post-link {
	font-size: 1rem;
}

p, pre, code {
	color: #000000;
	font-family: 'Roboto Mono', monospace !important;
	font-size: .8rem;
}

figcaption {
	color: #AFAFAF;
	font-family: 'Roboto Mono', monospace !important;
	font-size: .8rem;
}

ul.post-list > li > span.post-meta, p.post-meta {
	color: #AFAFAF;
	font-family: 'Roboto Mono', monospace !important;
}