
h1, h2, h3, h4 ,h5, h6 {
	color: #FF9411;
	font-family: 'Roboto Slab', serif !important;
}

a, p {
	color: #000000;
	font-family: 'Work Sans', sans-serif !important;
}
p.post-meta {
	color: #CECDCB;
	font-family: 'Work Sans', sans-serif !important;
}